.SearchBar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.SearchBar-Text {
  padding: 8px 15px;
  font-size: 15px;
  width: 250px;
  border-width: 0;
  background: #a592f2;
  color: #e7e9f0;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.SearchBar-Text::placeholder {
  color: #e7e9f0;
}

.SearchBar-Text:focus {
  outline: none;
}
