.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.header-image {
  width: auto;
  transition: min-width 1s, max-width 1s;
}

.header-image--expanded {
  min-width: 230px;
  max-width: 250px;
}

.header-image--contracted {
  min-width: 60px;
  max-width: 60px;
}

.header-text {
  font-family: "Hachi Maru Pop", cursive;
  margin: 5px 0 15px 0;
  transition: font-size 1s;
}

.header-text--expanded {
  font-size: 36px;
}

.header-text--contracted {
  font-size: 20px;
}
