.name-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: #282e4f;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(255 255 255 0.1);
  transition: background 0.33s;
  padding: 10px 20px;
}

.name-card-container:hover {
  background: #4a5079;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
